.imperio {
    background-color: red;
    color: white;
    padding: 5px;
}
  
.rebeldes {
    background-color: blue;
    color: white;
    padding: 5px;
}

#darth-vader {
    font-size: 1.5rem;
}

#luke {
    font-style: italic;
}

.soldado {
    border: 2px dashed white;
    padding: 5px;
}

.soldado-letras {
    letter-spacing: 2px;
}

.apoyo {
    text-align: center;
}

.nave {
    text-transform: uppercase;
}
